{{template "base" .}}

{{define "content"}}






<form action="/login" method="POST" novalidate > 
        <div class="form-group">
                <h3>Your email</h3>
                <p>We will send you and email to reset password, check inbox</p>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
        </div>

        <div class="form-group">
                <button>Change password</button>
        </div>

        </div>

</form>



</div>



{{end}}
