{{template "base" .}}

{{define "content"}}

<form action="/login" method="POST" novalidate > 
        <div class="form-group">
                <h3>Reset Pass</h3>
        </div>

        <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
                <label for="password2">Repeat Password</label>
                <input type="password" id="password2" name="password2" required>
        </div>

        <div class="form-group">
                <button>Reset pass</button>
        </div>

        </div>

</form>



</div>



{{end}}
