{{template "base" .}}

{{define "content"}}






<form action="/subscribe" method="POST" novalidate > 
        <div class="form-group">
                <h3>Supscribe Here</h3>
                <label for="first_name">First_name</label>
                <input type="text" id="firstname" name="firstname" required>
        </div>
        <div class="form-group">
                <label for="last_name">Last_name</label>
                <input type="text" id="lastname" name="lastname" required>
        </div>
              
        <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
        </div>

        <div class="form-group">
                <button>subscribe</button>
        </div>
        <div class="social">

        </div>

</form>



</div>



{{end}}
